$primary: Goldenrod;
$body-bg: rgb(231, 183, 62);

@import '~bootstrap/scss/bootstrap.scss';

body{
  background-image: url('/src/imgs/gold.jpg');
  min-height: 100%;
  background-attachment: fixed;
  background-size: cover;
}
.back-button {
    padding: 4px 12px 4px 12px;
    color: dimgray;
    background-color: $primary;
    border: 1px solid lightgray ;
    border-radius: 4px;
  }

  img {
    width: 40%
  }

.text{
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.h-100{
  background-image: black;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  transition: all .2s ease-in-out; 
}

.h-100:hover{
    transition-timing-function: ease-in-out;
    transform: scale(1.05); 
}

.col-md-3{
  padding: 20px;
}

.container{
  background-color:  rgb(56, 47, 47);
}