$primary: Goldenrod;
$body-bg: rgb(19, 16, 16);

@import '~bootstrap/scss/bootstrap.scss';


.back-button {
    padding: 4px 12px 4px 12px;
    color: dimgray;
    background-color: $primary;
    border: 1px solid lightgray ;
    border-radius: 4px;
  }

  img {
    width: 40%
  }

.text{
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.h-100{
  background-color: black;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  transition: all .2s ease-in-out; 
}

.h-100:hover{
  box-shadow: 0 0 10px 10px #888886;
    transition-timing-function: ease-in-out;
    transform: scale(1.1); 
}

.col-md-3{
  padding: 20px;
}